{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{  user.avatar(128) }}"</td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    <table valign="top">
        {% for post in posts %}
        <tr>
            <td><img src="{{ post.author.avatar(36) }}"/></td>
            <td>{{ post.author.username }} says: <b>{{ post.body }}</b></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}